body{
    background-color: rgb(40, 40, 40);
}
*{
    color: rgb(100, 234, 234);
}
a{
    color: rgb(235, 178, 114);
}
.title1{
    text-align: center;
    background-color: black;
    height: 200px;
    padding-top: 99px;
    color: rgb(210, 162, 255);
}

b{
    color: rgb(102, 0, 0);
}

main{

    
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;

}
